---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -cert-*,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*,
  -objc-*,
  -openmp-*,
  -zircon-*,
  -readability-magic-numbers,
  -readability-function-size,
  -readability-identifier-length,
  -readability-use-concise-preprocessor-directives,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
