name: CI

on:
  push:
  pull_request:

jobs:
  windows:
    name: ${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.compiler }}-${{ matrix.build_type }}-${{ matrix.build_shared_libs.text }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        arch: [x86, x64]
        compiler: [msvc, msvc-clang]
        build_type: [debug, release]
        build_shared_libs:
          - { value: 'ON', text: 'shared' }
          - { value: 'OFF', text: 'static' }
        exclude:
          - compiler: msvc-clang
            arch: x86
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}
      - name: Configure
        run: |
          cmake --preset ${{ matrix.compiler }}-${{ matrix.build_type }} `
                -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs.value }}
      - name: Build
        run: |
          cmake --build --preset ${{ matrix.compiler }}-${{ matrix.build_type }}
      - name: Test
        run: |
          ctest --preset ${{ matrix.compiler }}-${{ matrix.build_type }} --output-on-failure -V

  windows-arm:
    name: ${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}-${{ matrix.build_shared_libs.text }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-11-arm]
        compiler: [msvc, msvc-clang]
        build_type: [debug, release]
        build_shared_libs:
          - { value: 'ON', text: 'shared' }
          - { value: 'OFF', text: 'static' }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup MSVC (ARM64)
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: arm64
      - name: Configure
        run: |
          cmake --preset ${{ matrix.compiler }}-${{ matrix.build_type }} `
                -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs.value }}
      - name: Build
        run: cmake --build --preset ${{ matrix.compiler }}-${{ matrix.build_type }}
      - name: Test
        run: ctest --preset ${{ matrix.compiler }}-${{ matrix.build_type }} --output-on-failure -V

  windows-mingw:
    name: ${{ matrix.os }}-${{ matrix.msystem }}-${{ matrix.build_type }}-${{ matrix.build_shared_libs.text }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        msystem: [ucrt64, clang64, mingw64, mingw32]
        build_type: [debug, release]
        build_shared_libs:
          - { value: 'ON', text: 'shared' }
          - { value: 'OFF', text: 'static' }
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true
          release: false
          pacboy: cc:p cmake:p ninja:p lld:p
      - name: Configure
        run: |
          cmake --preset ninja-${{ matrix.build_type }} -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs.value }}
      - name: Build
        run: cmake --build --preset ninja-${{ matrix.build_type }}
      - name: Test
        run: ctest --preset ninja-${{ matrix.build_type }} --output-on-failure -V

  ubuntu:
    name: ${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}-${{ matrix.build_shared_libs.text }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        compiler: [gcc, clang]
        build_type: [debug, release]
        build_shared_libs:
          - { value: 'ON', text: 'shared' }
          - { value: 'OFF', text: 'static' }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install common dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build cmake
      - name: Install Clang
        if: matrix.compiler == 'clang'
        run: |
          sudo apt-get install -y clang
      - name: Select compiler
        run: |
          if [ "${{ matrix.compiler }}" = "clang" ]; then
            echo "CC=clang" >> $GITHUB_ENV
            echo "CXX=clang++" >> $GITHUB_ENV
          else
            echo "CC=gcc" >> $GITHUB_ENV
            echo "CXX=g++" >> $GITHUB_ENV
          fi
      - name: Configure
        run: |
          cmake --preset ninja-${{ matrix.build_type }} \
                -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs.value }}
      - name: Build
        run: cmake --build --preset ninja-${{ matrix.build_type }}
      - name: Test
        run: ctest --preset ninja-${{ matrix.build_type }} --output-on-failure -V

  ubuntu-arm:
    name: ${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}-${{ matrix.build_shared_libs.text }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04-arm]
        compiler: [gcc, clang]
        build_type: [debug, release]
        build_shared_libs:
          - { value: 'ON', text: 'shared' }
          - { value: 'OFF', text: 'static' }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install common dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build cmake
      - name: Install Clang
        if: matrix.compiler == 'clang'
        run: |
          sudo apt-get install -y clang
      - name: Select compiler
        run: |
          if [ "${{ matrix.compiler }}" = "clang" ]; then
            echo "CC=clang" >> $GITHUB_ENV
            echo "CXX=clang++" >> $GITHUB_ENV
          else
            echo "CC=gcc" >> $GITHUB_ENV
            echo "CXX=g++" >> $GITHUB_ENV
          fi
      - name: Configure
        run: |
          cmake --preset ninja-${{ matrix.build_type }} \
                -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs.value }}
      - name: Build
        run: cmake --build --preset ninja-${{ matrix.build_type }}
      - name: Test
        run: ctest --preset ninja-${{ matrix.build_type }} --output-on-failure -V

  macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        build_type: [debug, release]
        build_shared_libs:
          - { value: 'ON', text: 'shared' }
          - { value: 'OFF', text: 'static' }
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Show architecture & clang
        run: |
          uname -m
          clang --version
      - name: Install Ninja
        run: |
          brew install ninja
      - name: Select compiler
        run: |
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
      - name: Configure
        run: |
          cmake --preset ninja-${{ matrix.build_type }} \
                -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs.value }}
      - name: Build
        run: |
          cmake --build --preset ninja-${{ matrix.build_type }}
      - name: Test
        run: |
          ctest --preset ninja-${{ matrix.build_type }} --output-on-failure -V
